<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Autism</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="~/js/site.js" defer></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <header>
     <div class="hero">
         <nav>
             <h2 class="logo">MARF</h2>
             <ul>
                <li><a href="Index">HOME</a></li>
                <li><a href="aboutus">ABOUT US</a></li>
                <li><a href="our">OUR TEAM</a></li>
                <li><a href="partner">PARTNERSHIP</a></li>
                <li><a href="blog">BLOG</a></li>
                <li><a href="fqa">FQA</a></li>
                <li><a href="login">LOGIN</a></li>
             </ul>
            <button class="btnlogin" id="show-login" type="button" onclick="window.location.href='login'">DONATE</button>
         </nav>
     </div>
     </header>  
           
                <main role="main" class="pb-3">
                @RenderBody()
                </main>


    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>