@page
@model Autism.Pages.Emploment_scofold.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employment.Name" class="control-label"></label>
                <input asp-for="Employment.Name" class="form-control" />
                <span asp-validation-for="Employment.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employment.EmployerId" class="control-label"></label>
                <select asp-for="Employment.EmployerId" class ="form-control" asp-items="ViewBag.EmployerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Employment.EmployLearningId" class="control-label"></label>
                <select asp-for="Employment.EmployLearningId" class ="form-control" asp-items="ViewBag.EmployLearningId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Employment.EmployTrainId" class="control-label"></label>
                <select asp-for="Employment.EmployTrainId" class ="form-control" asp-items="ViewBag.EmployTrainId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
