@page
@model AdminPanel.Pages.manageModel
@{
}

<nav>
    <div class="logo-name">
        <div class="logo-image">
            <h2>MARF</h2>
        </div>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="/Index">
                <i class="fa-solid fa-house"></i>
                <span class="link-name">Dashboard</span>
            </a></li>
            <li><a href="/manage">
                <i class="fa-solid fa-user-group"></i>
                <span class="link-name">Manage Team</span>
            </a></li>
            <li><a href="/list">
                <i class="fa-solid fa-tag"></i>
                <span class="link-name">Blogs</span>
            </a></li>
            <li><a href="/profile">
                <i class="fa-solid fa-chart-line"></i>
                <span class="link-name">Profile Form</span>
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-envelope"></i>
                <span class="link-name">Messages</span>
            </a></li>
            <li><a href="/calendar">
                <i class="fa-solid fa-calendar"></i>
                <span class="link-name">Calendar</span>
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-flag"></i>
                <span class="link-name">Report</span>
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-gear"></i>
                <span class="link-name">Settings</span>
            </a></li>
        </ul>

        <ul class="logout-mode">
            <li><a href="#">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="link-name">Logout</span>
            </a></li>

            <li class="mode">
                <a href="#">
                    <i class="fa-solid fa-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>

<section class="dashboard">
        <div class="top">
            <i class="fa-solid fa-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search here...">
            </div>

            <img src="~/css/profile.jpg" alt="">
        </div>

        <dir class="board">
            <table width="100%">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Title</td>
                    <td>Status</td>
                    <td>Roles</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="people">
                        <img src="~/css/profile.jpg" alt="">
                        <div class="people-de">
                            <h5>Joh Doe</h5>
                            <p>john@gmail.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web developer</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit"><button type="button">Edit</button></td>
                </tr>
                <tr>
                    <td class="people">
                        <img src="~/css/profile.jpg" alt="">
                        <div class="people-de">
                            <h5>Joh Doe</h5>
                            <p>john@gmail.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web developer</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit"><button type="button">Edit</button></td>
                </tr>
                <tr>
                    <td class="people">
                        <img src="~/css/profile.jpg" alt="">
                        <div class="people-de">
                            <h5>Joh Doe</h5>
                            <p>john@gmail.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web developer</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit"><button type="button">Edit</button></td>
                </tr>
                <tr>
                    <td class="people">
                        <img src="~/css/profile.jpg" alt="">
                        <div class="people-de">
                            <h5>Joh Doe</h5>
                            <p>john@gmail.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web developer</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit"><button type="button">Edit</button></td>
                </tr>
                <tr>
                    <td class="people">
                        <img src="~/css/profile.jpg" alt="">
                        <div class="people-de">
                            <h5>Joh Doe</h5>
                            <p>john@gmail.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web developer</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit"><button type="button">Edit</button></td>
                </tr>
                <tr>
                    <td class="people">
                        <img src="~/css/profile.jpg" alt="">
                        <div class="people-de">
                            <h5>Joh Doe</h5>
                            <p>john@gmail.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web developer</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit"><button type="button">Edit</button></td>
                </tr>
                <tr>
                    <td class="people">
                        <img src="~/css/profile.jpg" alt="">
                        <div class="people-de">
                            <h5>Joh Doe</h5>
                            <p>john@gmail.com</p>
                        </div>
                    </td>

                    <td class="people-des">
                        <h5>Software Engineer</h5>
                        <p>Web developer</p>
                    </td>

                    <td class="active">
                        <p>Active</p>
                    </td>

                    <td class="role">
                        <p>Owner</p>
                    </td>

                    <td class="edit"><button type="button">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </dir>
</section>

