@page
@model AdminPanel.Pages.profileModel
@{
}

<nav>
        <div class="logo-name">
            <div class="logo-image">
                <h2>MARF</h2>
            </div>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/Index">
                    <i class="fa-solid fa-house"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="/manage">
                    <i class="fa-solid fa-user-group"></i>
                    <span class="link-name">Manage Team</span>
                </a></li>
                <li><a href="/list">
                    <i class="fa-solid fa-tag"></i>
                    <span class="link-name">Blogs</span>
                </a></li>
                <li><a href="/profile">
                    <i class="fa-solid fa-address-card"></i>
                    <span class="link-name">Profile Form</span>
                </a></li>
                <li><a href="/message">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="link-name">Messages</span>
                </a></li>
                <li><a href="/task">
                    <i class="fa-solid fa-calendar"></i>
                    <span class="link-name">Task</span>
                </a></li>
                <li><a href="#">
                    <i class="fa-solid fa-gear"></i>
                    <span class="link-name">Settings</span>
                </a></li>
            </ul>

            <ul class="logout-mode">
                <li><a href="#">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="link-name">Logout</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="fa-solid fa-moon"></i>
                        <span class="link-name">Dark Mode</span>
                    </a>

                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
</nav>

<section class="dashboard">
        <div class="top">
            <i class="fa-solid fa-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search here...">
            </div>

            <img src="~/css/profile.jpg" alt="">
        </div>

        <div class="upload">
              <div class="preview-zone hidden">
                  <div class="box4 box-solid">
                    <div class="box-header with-border">
                      <div><b>Preview</b></div>
                      <div class="box-tools pull-right">
                    <button type="button" class="btn btn-danger btn-xs remove-preview">
                      <i class="fa fa-times"></i> Reset This Form
                    </button>
                  </div>
                    </div>
                    <div class="box-body"></div>
                  </div>
                </div>
                <div class="dropzone-wrapper">
                  <div class="dropzone-desc">
                    <i class="glyphicon glyphicon-download-alt"></i>
                    <p>Choose an image file or drag it here.</p>
                  </div>
                  <input type="file" name="img_logo" class="dropzone">
                </div>

            <form>
              <label for="info">First Name:</label>
              <textarea id="info" name="info" rows="1" cols="10"></textarea>

              <label for="info">Last Name:</label>
              <textarea id="info" name="info" rows="1" cols="10"></textarea>

              <label for="info">Facebook:</label>
              <textarea id="info" name="info" rows="1" cols="10"></textarea>

              <label for="info">Instagram:</label>
              <textarea id="info" name="info" rows="1" cols="10"></textarea>

              <label for="info">Twitter:</label>
              <textarea id="info" name="info" rows="1" cols="10"></textarea>

              <label for="info">Whatsapp:</label>
              <textarea id="info" name="info" rows="1" cols="10"></textarea>

              <label for="description">Description:</label>
              <textarea id="description" name="description" rows="4" cols="50"></textarea>

              <input type="submit" value="Save Changes">
            </form>
        </div>
</section>

<script src="~/js/site2.js" asp-append-version="true"></script>