@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    background-image: none;
    background-color: #fff;
}

.part {
    width: 100%;
    padding: 100px 0px;
    background-color: #f5f5f5;
}

.pic img {
    height: auto;
    width: 120px;
    float: left;
    display: inline-block;
}

.cont {
    width: 550px;
}

.content-items {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cont h1 {
    color: #333;
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.cont h2 {
    color: #333;
    font-size: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.cont p {
    color: #333;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 45px;
}