@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    height: 100%;
    box-sizing:border-box;
}

body.home {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('hand.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    min-height:100vh;
}

a{
    text-decoration:none;
}

/*----------------------------------------------------------------------------header---------------------------*/

header{
    width: 100%;
    height: 80px;
    background: #333;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 100px;
}

.logo{
    font-size: 28px;
    font-weight: bold;
    color:#fefefe;
}

.hamburger{
    display:none;
}

.nav-bar ul{
    display:flex;
}

.nav-bar ul li a{
    display:block;
    color:#fefefe;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    margin-top: 8px;
    text-decoration:none;
}

.nav-bar ul li a:hover{
    color: #11101b;
    background:#fefefe;
}

.nav-bar ul li a.active{
    color: #11101b;
    background: #fefefe;
}

/*---------------------------------------------------------------------------------------responsive-------------------------------------*/

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger{
        display:block;
        cursor:pointer;
    }

    .hamburger .line{
        width: 28px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav-bar{
        height:0;
        position:absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #11101b;
        transition: 0.5s;
        overflow: hidden;
        z-index:1;
    }

    .nav-bar.active{
        height:600px;
    }

    .nav-bar ul{
        display:block;
        width:fit-content;
        margin: 80px auto 0 auto;
        text-align:center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul{
        opacity: 1;
    }

    .nav-bar ul li a{
        margin-bottom: 14px;
    }
}

/*-------------------------------------------------------------------------------------home content-----------------------*/

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 10px;
    z-index: 0;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}

.visitbtn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #333;
    padding: 12px 34px;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.visitbtn:hover {
    border: 2px solid #B0E0E6;
    background: #B0E0E6;
    transition: .2s;
}

    /*.action-btn{
    background-color: orange;
    color: #fff;
    padding: 1rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight:bold;
    cursor:pointer;
    transition: .5s ease-in-out;
    text-decoration:none;
}

.action-btn:hover{
    background-color: white;
    color:#333;
}*/

/*-----------------------------------------------------------------------------------------about us--------------------------*/

body.abb {
    background-image: none;
    background-color: #F4ECF7;
}

.about {
    width: 100%;
    padding: 80px 0px;
    background-color: #333;
}

.about img {
    height: auto;
    width: 420px;
}

.about-text {
    width: 550px;
}

.mainc {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: #fff;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: #fff;
    font-size: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.about-text p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}


button.btn1 {
    background: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}


/*-------------------------------------------mission----------*/

.about-item {
    margin-bottom: 20px;
    margin-top: 100px;
    background-color: white;
    padding: 80px 30px;
    box-shadow: 0 0 9px rgba(0,0,0.6);
}

.row {
    justify-content: space-around;
}

.about-item h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: #CD5C5C;
    margin: 0 auto;
    border: none;
}


.about-item p {
    margin-top: 20px;
    font-size:15px;
}

.about-item:hover {
    background-color: #E6E6FA;
}

.about-item:hover h3,
.about-item:hover p {
    color: #333;
}

.about-item:hover hr {
    background-color: #000000;
}

.about-item:hover h3,
.about-item:hover hr {
    transition: all 400ms ease-in-out;
}

/*----------------------------------------*/

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.section-title {
    font-size: 3rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

.section-title span {
    color: crimson;
}

/*------service section--------------*/

#services .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-top p {
    color: black;
    font-size: 1.3rem;
    margin-top: 5px;
    margin-left: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    text-align: center;
}

#services .servive-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#services .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url('care.jpg');
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#services .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .6;
    z-index: -1;
}

#services .servive-bottom .icon {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

#services .servive-bottom icon i {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#services .service-item h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

/*--------projects section---------------*/

#projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects {
    flex-direction: column;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}

#projects .project-info h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 50px;
}

#projects .project-info h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info p {
    color: white;
}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .7;
}

#projects .project-img img {
    transition: .3s ease transform;
}

#projects .project-item:hover .project-img {
    transform: scale(1.1);
}


/*--------------------------------------------------------------------------------------------------------------our team-------------*/

body.page3 {
    background-image: none;
    background: radial-gradient(#2B5876, #4E6E8E);
}

.team {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team-contnt{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin-top: 4rem;
}

.team-contnt img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}

.cnter h1{
    color: #fff;
    font-size: 4rem;
    text-align: center;
}

.box{
    padding: 16px;
    background: #fff;
    border-radius: 15px;
    transition: all .38s ease;
}

.box h3{
    font-size: 23px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
}

.box h5{
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.iconss i{
    display: inline-block;
    color: #333;
    font-size: 20px;
    margin: 0 8px;
    transition: all .5s ease;
}

.iconss i:hover{
    transform: scale(1.2);
}

.box:hover{
    transform: translateY(-10px);
    cursor:pointer;
}

/*----------------------------responsive---------*/
@media(max-width: 1240px){
    .team{
        width: 100%;
        height: auto;
        padding: 90px 2%;
    }

    .cnter h1{
        font-size: 3.2rem;
    }
}

/*------------------------------------------------------------------------------------------------------------partnership----------------*/
body.partnership {
    background-image: none;
    background-color: #f5f5f5;
}

.part {
    width: 100%;
    padding: 100px 0px;
}

.pic img {
    height: auto;
    width: 120px;
    float: left;
    display: inline-block;
}

.cont {
    width: 550px;
}

.content-items {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cont h1 {
    color: #333;
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.cont h2 {
    color: #333;
    font-size: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.cont p {
    color: #333;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 45px;
}


/*--------------------------------------------------------------------------------------------------------------------blog------------*/

body.bblog {
    background-image: none;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*-----blog------*/

#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span {
    color: #f33c3c;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: #f33c3c;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}

.blog-text .blog-title:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

.blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a {
    color: #0f0f0f;
}

.blog-text a:hover {
    color: #f33c3c;
    transition: all ease 0.3s;
}

/*----Content-------*/
.contentt {
    width: 90%;
    margin: 30px auto 30px;
}

.contentt .main-content {
    width: 70%;
    float: left;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.contentt .sidebar {
    width: 30px;
    float: left;
    height: 300px;
}

.contentt .main-content .recent-post-title {
    margin: 20px;
}

.contentt .main-content .post {
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}

.contentt .main-content .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #005255;
    background: transparent;
    border-radius: 0px;
    color: #005255 !important;
}

.contentt .main-content .post .read-more:hover {
    background: #006669;
    color: #fff !important;
    transition: .2s;
}

.contentt .main-content .post .post-image {
    width: 40%;
    height: 100%;
    float: left;
}

.contentt .main-content .post .post-preview {
    width: 60%;
    padding: 10px;
    float: right;
}

.btnn {
    padding: .5rem 1rem;
    background: #006669;
    color: #fff;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btnn:hover {
    color: #fff !important;
    background: #005255;
}

/*----categories section-------*/

.index-category {
    width: 100%;
    padding: 60px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

.index-category p {
    color: #111;
    text-align: center;
    padding-bottom: 40px;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: 24px;
}

.index-category-box {
    width: 140px;
    height: 140px;
    background-color: #111;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.index-category-box:nth-child(2) {
    background-image: url('../css/ex.jpg');
}

.index-category-box:nth-child(3) {
    background-image: url('../css/ex.jpg');
}

.index-category-box:nth-child(4) {
    background-image: url('../css/ex.jpg');
}

.index-category-box:nth-child(5) {
    background-image: url('../css/ex.jpg');
}

.index-category-box:nth-child(6) {
    background-image: url('../css/ex.jpg');
}

.index-category-box:nth-child(7) {
    background-image: url('../css/ex.jpg');
}

.index-category-box:nth-child(8) {
    background-image: url('../css/ex.jpg');
}

.index-category-box:nth-child(9) {
    background-image: url('../css/ex.jpg');
}


.dark-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    transition: all ease-in-out 200ms;
}

.index-category-box:hover .dark-overlay {
    opacity: 0;
}

.index-category-box h3 {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    text-shadow: -2px 2px 4px #000;
    z-index: 100;
}

/*-----------------------------------------------------------------------------------------------------------------responsive--------------*/

@media(max-width:1250px) {
    .blog-box {
        width: 300px;
    }
}

@media(max-width:1100px) {
    .blog-box {
        width: 70%;
    }
}

@media(max-width:550px) {
    .blog-box {
        margin: 20px 10px;
        width: 100%;
    }

    #blog {
        padding: 20px;
    }
}


/*-----------------------------------------------------------------------------------------------------Fqa-----*/

body.aqf {
    min-height: 100%;
    margin: 0;
    padding-bottom: 8rem;
    background-color: #f5f5f5;
    position:relative;
    box-sizing: inherit;
}

.fqa{
    margin-bottom: 400px;
}


/*.ffqa {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3rem;
    margin: 2rem 0rem;
}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #333;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.4em;
}

.answer {
    max-height: 0;
    overflow: hidden;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.2rem;
}

.faq.active .answer {
    max-height: 300px;
}*/

.fqa h2{
    text-align:center;
    font-size:28px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fqa span{
    color: red;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width:50%;
    border: 1px solid #fff;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-left: 25%;
}

.active, .accordion:hover {
    color: #fff;
    background: #333;
    border:none;
}

.accordion:after {
    content: '\002B';
    color: #333;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
    color: #fff;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 50%;
    margin-left: 25%;
    margin-top: 5px;
}

.panel p{
    margin-top:5px;
    margin-bottom: 10px;
}


/*---------------------------------------------------------------------------------------------------footer---------------*/

.footer {
    position: absolute;
    right:0;
    left:0;
    bottom:0;
    width: 100%;
    background-color: #333;
    padding: 70px 0;
}

.container2{
    max-width:1170px;
    margin: auto;
}

.row2{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style:none;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position:relative;
}

.footer-col h4::before{
    content:'';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color:orange;
    height: 2px;
    box-sizing:border-box;
    width: 50px;
}

.footer-col li{
    margin-left: -32px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display:block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align:center;
    line-height:40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

.footer-col .contactus i{
    margin-right: 12px;
}

/*----------------------------------------------------------responsive--------------------*/
@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    .accordion-link {
        padding: 15px;
    }

    .answer {
        padding: 15px;
    }

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}