@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

:root {
    /*======== Colors ===========*/
    --primary-color: #0E4BF1;
    --panel-color: #fff;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #ffe6ac;
    --box3-color: #e7d1fc;
    --title-icon-color: #fff;
    /*========= Transition =========*/
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
    /*=============Tasks============*/
    --bg-color: #f5f8ff;
    --main-color: #353536;
    --secondary-color: #8e92a4;
    --main-text-color: #5d606b;
    --secondary-dark-color: #9496a5;
    --tag-color-one: #e0fbf6;
    --tag-color-text-one: #58c2a9;
    --tag-color-two: #ece7fe;
    --tag-color-text-two: #8972f3;
    --tag-color-three: #fde7ea;
    --tag-color-text-three: #e77f89;
    --tag-color-four: #f7f8fc;
    --tag-color-text-four: #a0a6b5;
    --checkbox-color: #009e90;
    --button-color: #49beb7;
    --box-color: #fff1d6;
    --box-color-2: #d3e6ff;
    --box-color-3: #ffd9d9;
    --box-color-4: #daffe5;
    --task-color: #777982;
}

body{
    min-height: 100vh;
    background-color: var(--panel-color);
}

body.dark {
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}

nav{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}

nav.close{
    width: 90px;
}

nav .logo-image{
    min-width: 45px;
}

nav .logo-image h2{
    font-size: 28px;
    font-weight: 600;
    padding: 0 22px;
    color: var(--text-color);
    transition: var(--tran-05);
}

nav.close .logo-image {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    margin-left:-10px;
}

.menu-items li{
    list-style:none;
}

.menu-items li a{
    display:flex;
    align-items:center;
    height: 50px;
    text-decoration: none;
    position:relative;
}

.nav-links li a:hover:before{
    content:"";
    position:absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

body.dark li a:hover:before {
    background-color:var(--text-color);
}

.menu-items li a i {
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
    padding-right: 10px;
}

.menu-items .nav-links span{
    margin-left: 10px;
}

.menu-items li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}

nav.close li a .link-name{
    opacity:0;
    pointer-events: none;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
    color: var(--text-color);
}

.menu-items .logout-mode {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.menu-items .mode {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display:flex;
    align-items:center;
    justify-content: center;
    cursor:pointer;
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before{
    content:"";
    position:absolute;
    left:5px;
    top:50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before{
    left:20px;
}

.dashboard{
    position: relative;
    left: 250px;
    /*background-color: var(--panel-color);*/
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close ~ .dashboard {
    left: 90px;
    width: calc(100% - 90px);
}

.dashboard .top{
    position:fixed;
    top:0;
    left:250px;
    display:flex;
    width: calc(100% - 250px);
    justify-content:space-between;
    align-items:center;
    padding: 10px 14px;
    background-color:var(--panel-color);
    transition: var(--tran-05);
    z-index:1;
}

nav.close ~ .dashboard .top{
    left: 90px;
    width: calc(100% - 90px);
}

.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor:pointer;
}

.dashboard .top .search-box{
    position:relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}

.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}

.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}

.top img{
    width: 44px;
    height: 42px;
    border-radius: 50%;
}

.dashboard .dash-content{
    padding-top: 50px;
}

.dash-content .title{
    display:flex;
    align-items: center;
    margin: 70px 0 30px 0;
}

.dash-content .title i{
    position:relative;
    height: 35px;
    width: 35px;
    background-color:var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dash-content .boxes .box{
    display:flex;
    flex-direction: column;
    align-items:center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}

.boxes .box i{
    font-size: 35px;
    color: var(--text-color);
}

.boxes .box .text{
    white-space:nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box .number {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box.box2{
    background-color: var(--box2-color);
}

.boxes .box.box3 {
    background-color: var(--box3-color);
}

.dash-content .activity .activity-data{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width: 100%;
}

.activity .activity-data{
    display:flex;
}

.activity-data .data {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color:var(--text-color);
}

@media (max-width:1000px){
    nav{
        width: 90px;
    }

    nav.close{
        width: 250px;
    }

    nav .logo-image {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo-image {
        opacity: 1;
        pointer-events: auto;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 1;
        pointer-events: auto;
    }

    nav ~ .dashboard {
        left: 90px;
        width: calc(100% - 90px);
    }

    nav.close ~ .dashboard {
        left: 250px;
        width: calc(100% - 250px);
    }

    nav ~ .dashboard .top {
        left: 90px;
        width: calc(100% - 90px);
    }

    nav.close ~ .dashboard .top {
        left: 250px;
        width: calc(100% - 250px);
    }

    .activity .activity-data{
        overflow-y:scroll;
    }
}

.board{
    width: 94%;
    margin: 70px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}

.board img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.board h5{
    font-weight: 600;
    font-size: 14px;
}

.board p{
    font-weight: 400;
    font-size: 13px;
    color: var(--text-color);
}

.board .people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align:start;
}

table{
    border-collapse: collapse;
}

tr{
    border-bottom: 1px solid #eefef3;
}

thead td{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background: #F9FAF8;
    text-align: start;
    padding: 15px;
}

tbody tr td{
    padding: 10px 15px;
}

.edit button[type="button"]{
    background-color: #007bff;
    color: #fff;
    padding: 4px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.active p{
    background: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.edit{
    text-decoration:none;
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}

@media(max-width: 780px){
    .dash-content .boxes .box{
        width: calc(100% / 2 -15px);
        margin-top: 15px;
    }
}

@media(max-width: 560px) {
    .dash-content .boxes .box {
        width: 100%;
    }
}

@media(max-width: 500px) {
    nav {
        width: 90px;
    }

    nav.close {
        width: 90px;
    }

    nav .logo-image {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo-image {
        opacity: 0;
        pointer-events: none;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav ~ .dashboard {
        left: 90px;
        width: calc(100% - 90px);
    }

    nav.close ~ .dashboard {
        left: 90px;
        width: calc(100% - 90px);
    }

    nav ~ .dashboard .top {
        left: 90px;
        width: calc(100% - 90px);
    }

    nav.close ~ .dashboard .top {
        left: 90px;
        width: calc(100% - 90px);
    }

    .dashboard .top .sidebar-toggle{
        display:none;
    }
}

/*-------------------------------------------------------------------manage blog----*/

.blog-manage {
    width: 94%;
    margin: 70px 0 30px 30px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
}

.blogcontent .page-title{
    text-align:center;
    margin-bottom:1.5rem;
}

.blogcontent table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}

.blogcontent table td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}

.edit{
    color: green;
}

.delete{
    color:red;
}

.publish{
    color:blue;
}

.edit:hover,
.delete:hover,
.publish:hover{

}

/*---------------------------------------------------------message----------------*/

.inbox {
    padding-left: 0;
    padding-right: 10px;
    margin-top: 100px;
}

.col-md-10{
    width: 105%;
}

/*---------------------------------------------------------------task-------------------*/

.task-manager {
    display: flex;
    justify-content: space-between;
    overflow:hidden;
    margin-top:50px;
    z-index:0;
}

.left-content{
    padding: 40px;
    position:relative;
}

.page-content{
    display:flex;
    flex-direction:column;
    flex:1;
    padding: 40px 20px 0 20px;
}

.page-content .header{
    font-size: 26px;
    color: var(--main-color);
    margin-top: 30px;
}

.content-categories{
    display:flex;
    justify-content:space-evenly;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.nav-item{
    display:none;
}

.category{
    font-weight: 500;
    color: var(--secondary-color);
    border-bottom: 1px solid #ddd;
    transition: .4s ease-in;
    padding: 20px 30px;
    cursor:pointer;
}

#opt-1:checked + label,
#opt-2:checked + label,
#opt-3:checked + label,
#opt-4:checked + label{
    color: var(--checkbox-color);
    border-bottom: 2px solid var(--checkbox-color);
}

.task-item{
    display:none;
}

.tasks-wrapper{
    padding: 30px 0;
    flex: 1;
    overflow-y: auto;
    height: 100%;
    padding-right: 8px;
}

.task{
    display:flex;
    justify-content:space-between;
    position:relative;
    margin-bottom: 16px;
    padding-left: 30px;
    color: var(--task-color);
    font-size: 14px;
    font-weight: 500;
}

.task:hover{
    transform: translateX(2px);
}

label{
    cursor:pointer;
}

label .label-text{
    position:relative;
}

label .label-text:before{
    content:'';
    position: absolute;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 2px;
    left: -24px;
    transition: .2s ease;
}

.task-item:checked + label .label-text:before {
    background-color: var(--checkbox-color);
    border: none;
    background-size: 10px;
    background-position: center;
    border: 1px solid var(--checkbox-color);
}

.tag{
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 20px;
    line-height: 10px;
}

.tag.approved{
    background-color: var(--tag-color-one);
    color:var(--tag-color-text-one);
}

.tag.progress{
    background-color: var(--tag-color-two);
    color: var(--tag-color-text-two);
}

.tag.review{
    background-color:var(--tag-color-three);
    color: var(--tag-color-text-three);
}

.tag.waiting{
    background-color: var(--tag-color-four);
    color: var(--tag-color-text-four);
}

.upcoming{
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.right-bar{
    width: 320px;
    border-left: 1px solid #e3e7f7;
    display:flex;
    flex-direction:column;
}

.right-bar .header{
    font-size: 20px;
    color:var(--main-text-color);
    margin-left: 30px;
}

.right-content{
    padding: 10px 40px;
    overflow-y: auto;
    flex: 1;
}

.task-box{
    position:relative;
    border-radius: 12px;
    width: 100%;
    margin: 20px 0;
    padding: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px rgba(235,235,235,1);
}

.task-box:hover{
    transform:scale(1.02);
}

.time{
    margin-bottom: 6px;
    opacity: 0.4;
    font-size: 10px;
}

.task-name{
    font-size: 14px;
     font-weight: 500;
     opacity: 0.6;
}

.yellow{
    background-color: var(--box-color);
}

.blue{
    background-color: var(--box-color-2);
}

.red{
    background-color: var(--box-color-3);
}

.green{
    background-color: var(--box-color-4);
}

.more-button{
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius:50%;
    background-color: #8e92a4;
    box-shadow: 0 -4px 0 0 #8e92a4, 0 4px 0 0 #8e92a4;
    opacity: 0.4;
    right: 20px;
    top: 30px;
    cursor: pointer;
}

.members{
    display: flex;
    margin-top: 14px;
}

.members img{
    border-radius: 50%;
    width: 30px;
    height:30px;
    margin-right: 4px;
    object-fit:cover;
}

/*---------------------------------------------------------profile-----*/

.upload{
    margin-top: 50px;
}

.upload form {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 20px;
}

.upload label {
    margin-bottom: 8px;
    font-weight: bold;
    display: inline-block;
}

.upload input[type="file"],
.upload textarea {
    margin-bottom: 16px;
    width:100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.upload input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.box4{
    position:relative;
    background:#ffffff;
    width: 100%;
}

.box-header{
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 10px;
}

.box-tools{
    position:absolute;
    right: 10px;
    top:5px;
}

.dropzone-wrapper{
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 150px;
}

.dropzone-desc{
    position:absolute;
    margin: 0 auto;
    left: 0;
    right:0;
    text-align: center;
    width: 40%;
    top: 50px;
    font-size: 16px;
}

.dropzone,
.dropzone:focus{
    position:absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor:pointer;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover{
    background: #ecf0f5;
}

.preview-zone{
    text-align:center;
}

.preview-zone .box{
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}