@page
@model Autism.Pages.aboutusModel
@{
}

<html>
<head>
    <title>About Us</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style2.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
    <div class="paper">
    <section class="about">
        <div class="main">
            <img src="~/css/girl2.jpg">
            <div class="about-text">
                <h1>About Us</h1>
                <h5>What is Austism</h5>
                <p>Autism, or autism spectrum disorder (ASD), is a neurodevelopmental disorder that
                  affects communication, behavior, and social interaction. It is called a spectrum 
                  disorder because the symptoms and severity can vary widely among individuals. 
                  Some common symptoms include difficulty with social interaction, communication challenges,
                  repetitive behaviors or interests, and sensory issues. Autism is typically diagnosed in early
                  childhood, and while there is no known cure, interventions such as therapy and educational support
                  can help individuals with autism to improve their communication, social skills, and daily functioning.</p>
                  <button type="button" onclick="location.href='https://www.cdc.gov/ncbddd/autism/signs.html#:~:text=Autism%20spectrum%20disorder%20(ASD)%20is,%2C%20moving%2C%20or%20paying%20attention.'">Let's Talk</button>
                  <button type="button" onclick="location.href='https://youtu.be/Lk4qs8jGN4U'">Wacth More</button>
            </div>
        </div>
    </section>

    <section class="mission">
       <div id="about-2">
           <div class="content-box-lg">
               <div class="container">
                   <div class="row">
                       <div class="col-md-4">
                           <div class="about-item text-center">
                               <h3>MISSION</h3>
                               <hr>
                               <p>"To promote solutions, across the spectrum and throughout the life span, 
                                   for the needs of individuals with autism and their families through advocacy
                                   and support; increasing understanding and acceptance of people with autism 
                                   spectrum disorder; and advancing research into causes and better interventions
                                   for autism spectrum disorder and related conditions."</p>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="about-item text-center">
                               <h3>VISION</h3>
                               <hr>
                               <p>"To promote solutions, across the spectrum and throughout the life span, 
                                   for the needs of individuals with autism and their families through advocacy
                                   and support; increasing understanding and acceptance of people with autism 
                                   spectrum disorder; and advancing research into causes and better interventions
                                   for autism spectrum disorder and related conditions."</p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   </div>

   


</body>
</html>
