@page
@model Autism.Pages.aboutusModel
@{
}
<html>
<head>
    <title>About Us</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body class="abb">

    <header>
        <div class="logo">MARF</div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="Index" class="active">HOME</a></li>
                <li><a href="aboutus">ABOUT US</a></li>
                <li><a href="our">TEAM</a></li>
                <li><a href="partner">PARTNERSHIP</a></li>
                <li><a href="blog">BLOG</a></li>
                <li><a href="fqa">FAQ</a></li>
                <li><a href="login">LOGIN</a></li>
            </ul>
        </nav>
     </header>

    <!----------About------------------>
    <section class="about">
        <div class="mainc">
            <img src="~/css/girl2.jpg">
            <div class="about-text">
                <h1>About Us</h1>
                <h5>What is Austism?</h5>
                <p>Autism, or autism spectrum disorder (ASD), is a neurodevelopmental disorder that
                  affects communication, behavior, and social interaction. It is called a spectrum 
                  disorder because the symptoms and severity can vary widely among individuals. 
                  Some common symptoms include difficulty with social interaction, communication challenges,
                  repetitive behaviors or interests, and sensory issues. Autism is typically diagnosed in early
                  childhood, and while there is no known cure, interventions such as therapy and educational support
                  can help individuals with autism to improve their communication, social skills, and daily functioning.</p>
                  <button class="btn1" type="button" onclick="location.href='https://youtu.be/Lk4qs8jGN4U'">Wacth More</button>
            </div>
        </div>
    </section>

    <!-------------mission and vision----------------------->
    <section class="mission">
       <div id="about-2">
           <div class="content-box-lg">
               <div class="container">
                   <div class="row">
                       <div class="col-md-4">
                           <div class="about-item text-center">
                               <h3>MISSION</h3>
                               <hr>
                               <p>"To promote solutions, across the spectrum and throughout the life span, 
                                   for the needs of individuals with autism and their families through advocacy
                                   and support; increasing understanding and acceptance of people with autism 
                                   spectrum disorder; and advancing research into causes and better interventions
                                   for autism spectrum disorder and related conditions."</p>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="about-item text-center">
                               <h3>VISION</h3>
                               <hr>
                               <p>"To promote solutions, across the spectrum and throughout the life span, 
                                   for the needs of individuals with autism and their families through advocacy
                                   and support; increasing understanding and acceptance of people with autism 
                                   spectrum disorder; and advancing research into causes and better interventions
                                   for autism spectrum disorder and related conditions."</p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>


   <!---service section----------------------->
    @*<section id="services">
        <div class="services container">
            <div class="service-top">
                <h1 class="section-title">Serv<span>i</span>ces</h1>
                <p>Our services are designed to meet the unique needs of individuals with
                   autism and their families. We offer affordable educational and training
                   resources to caregivers, teachers, therapists, and service providers,
                   as well as an online resource library and funding for autism-specific
                   training for therapists in Malaysia.</p>
            </div>
            <div class="service-bottom">
                <div class="service-item">
                    <div class="icon"><i class="bi bi-bookmark-heart-fill"></i></div>
                    <h2>Malaysia Care</h2>
                    <p>Malaysia Care provides support and resources to assist individuals
                       with autism and their families in Malaysia.</p>
                </div>
                <div class="service-item">
                    <div class="icon"><i class="bi bi-bookmark-heart-fill"></i></div>
                    <h2>OKU Registration</h2>
                    <p>Malaysia Care provides support and resources to assist individuals
                       with autism and their families in Malaysia.</p>
                </div>
                <div class="service-item">
                    <div class="icon"><i class="bi bi-bookmark-heart-fill"></i></div>
                    <h2>Psychologists</h2>
                    <p>Malaysia Care provides support and resources to assist individuals
                       with autism and their families in Malaysia.</p>
                </div>
                <div class="service-item">
                    <div class="icon"><i class="bi bi-bookmark-heart-fill"></i></div>
                    <h2>ATEC scoring</h2>
                    <p>Malaysia Care provides support and resources to assist individuals
                       with autism and their families in Malaysia.</p>
                </div>
                <div class="service-item">
                    <div class="icon"><i class="bi bi-bookmark-heart-fill"></i></div>
                    <h2>How to register for PPKI</h2>
                    <p>Malaysia Care provides support and resources to assist individuals
                       with autism and their families in Malaysia.</p>
                </div>
            </div>
        </div>
    </section>*@
    
   <section id="services">
       <div class="service container">
           <h1 class="section-title">Our Serv<span>i</span>ces</h1>
       </div>
       <div class="row2">
           <div class="column2">
               <div class="card">
                   <div class="icon-wrapper">
                       <i class="fa-solid fa-school"></i>
                   </div>
                   <h3>Education</h3>
                   <p>education education education school</p>
               </div>
           </div>
           <div class="column2">
               <div class="card">
                   <div class="icon-wrapper">
                       <i class="fa-solid fa-school"></i>
                   </div>
                   <h3>Education</h3>
                   <p>education education education school</p>
               </div>
           </div>
           <div class="column2">
               <div class="card">
                   <div class="icon-wrapper">
                       <i class="fa-solid fa-school"></i>
                   </div>
                   <h3>Education</h3>
                   <p>education education education school</p>
               </div>
           </div>
           <div class="column2">
               <div class="card">
                   <div class="icon-wrapper">
                       <i class="fa-solid fa-school"></i>
                   </div>
                   <h3>Education</h3>
                   <p>education education education school</p>
               </div>
           </div>
           <div class="column2">
               <div class="card">
                   <div class="icon-wrapper">
                       <i class="fa-solid fa-school"></i>
                   </div>
                   <h3>Education</h3>
                   <p>education education education school</p>
               </div>
           </div>
           <div class="column2">
               <div class="card">
                   <div class="icon-wrapper">
                       <i class="fa-solid fa-school"></i>
                   </div>
                   <h3>Education</h3>
                   <p>education education education school</p>
               </div>
           </div>
       </div>
   </section>

    <!--------Project section-------->
    @*<section id="projects">
        <div class="projects container">
            <div class="projects-header">
                <h1 class="section-title">Recent <span>Projects</span></h1>
            </div>
            <div class="all-projects">
                <div class="project-item">
                    <div class="project-info">
                        <h1>Projects 1</h1>
                        <h2>Coding is Love</h2>
                        <p>Educational and training programs for individuals with autism and their families/caregivers.</p>
                    </div>
                    <div class="project-img">
                        <img src="~/css/pro1.jpg" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Projects 2</h1>
                        <h2>Coding is Love</h2>
                        <p>Educational and training programs for individuals with autism and their families/caregivers.</p>
                    </div>
                    <div class="project-img">
                        <img src="~/css/pro2.jpg" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Projects 3</h1>
                        <h2>Coding is Love</h2>
                        <p>Educational and training programs for individuals with autism and their families/caregivers.</p>
                    </div>
                    <div class="project-img">
                        <img src="~/css/pro3.jpg" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Projects 4</h1>
                        <h2>Coding is Love</h2>
                        <p>Educational and training programs for individuals with autism and their families/caregivers.</p>
                    </div>
                    <div class="project-img">
                        <img src="~/css/pro4.jpg" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </section>*@

    <section class="programs">
        <div class="program container">
           <h1 class="section-title">Our Program<span>s</span></h1>
       </div>

       <div class="row3">
           <div class="programs-col">
               <img src="~/css/pro1.jpg">
               <h3>Activities</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Pellentesque aliquet turpis nulia.
               </p>
           </div>
           <div class="programs-col">
               <img src="~/css/pro2.jpg">
               <h3>Activities</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Pellentesque aliquet turpis nulia.
               </p>
           </div>
           <div class="programs-col">
               <img src="~/css/pro3.jpg">
               <h3>Activities</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Pellentesque aliquet turpis nulia.
               </p>
           </div>
       </div>
    </section>

</body>
</html>
