@page
@model Autism.Pages.blogModel
@{
}


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Our Work</title>
	<link rel="stylesheet" href="~/css/style5.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
    
<body>
    <section id="blog">
        <div class="blog-heading">
            <span>My Recent Posts</span>
            <h3>My Blog</h3>
        </div>

        <!-----blog-container---->
        <div class="blog-container">

            <!---box-1----->
            <div class="blog-box">

                <!--img-->
                <div class="blog-img">
                    <img src="~/css/autismday.jpg" alt="Blog">
                </div>

                <!----text----->
                <div class="blog-text">
                    <span>18 July 2021 / Web design</span>
                    <a href="#" class="blog-title">Life with autism </a>
                    <p>"Being with someone with autism is like falling in love with the stars
                        - they may seem distant and mysterious, but they shine brighter than 
                        anything else in the universe."</p>
                    <a href="#">Read More</a>
                </div>

            </div>

             <!---box-2----->
            <div class="blog-box">

                <!--img-->
                <div class="blog-img">
                    <img src="~/css/girl.jpg" alt="Blog">
                </div>

                <!----text----->
                <div class="blog-text">
                    <span>18 July 2021 / Web design</span>
                    <a href="#" class="blog-title">Life with autism </a>
                    <p>"Being with someone with autism is like falling in love with the stars
                        - they may seem distant and mysterious, but they shine brighter than 
                        anything else in the universe."</p>
                    <a href="#">Read More</a>
                </div>

            </div>

             <!---box-3----->
            <div class="blog-box">

                <!--img-->
                <div class="blog-img">
                    <img src="~/css/bear.jpg" alt="Blog">
                </div>

                <!----text----->
                <div class="blog-text">
                    <span>18 July 2021 / Web design</span>
                    <a href="#" class="blog-title">Life with autism </a>
                    <p>"Being with someone with autism is like falling in love with the stars
                        - they may seem distant and mysterious, but they shine brighter than 
                        anything else in the universe."</p>
                    <a href="#">Read More</a>
                </div>

            </div>

        </div>


    </section>
</body>
</html>