@page
@model Autism.Pages.blogModel
@{
}


<html>
<head>
    <title>Our Work</title>
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
    
<body class="bblog">

    <header>
        <div class="logo">MARF</div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="Index" class="active">HOME</a></li>
                <li><a href="aboutus">ABOUT US</a></li>
                <li><a href="our">TEAM</a></li>
                <li><a href="partner">PARTNERSHIP</a></li>
                <li><a href="blog">BLOG</a></li>
                <li><a href="fqa">FQA</a></li>
                <li><a href="login">LOGIN</a></li>
            </ul>
        </nav>
     </header>

    <section id="blog">
        <div class="blog-heading">
            <span>My Recent Posts</span>
            <h3>My Blog</h3>
        </div>

        <!-----blog-container---->
        <div class="blog-container">

            <!---box-1----->
            <div class="blog-box">

                <!--img-->
                <div class="blog-img">
                    <img src="~/css/autismday.jpg" alt="Blog">
                </div>

                <!----text----->
                <div class="blog-text">
                    <span>18 July 2021 / Web design</span>
                    <a href="#" class="blog-title">Life with autism </a>
                    <p>"Being with someone with autism is like falling in love with the stars
                        - they may seem distant and mysterious, but they shine brighter than 
                        anything else in the universe."</p>
                    <a href="#">Read More</a>
                </div>

            </div>

             <!---box-2----->
            <div class="blog-box">

                <!--img-->
                <div class="blog-img">
                    <img src="~/css/girl.jpg" alt="Blog">
                </div>

                <!----text----->
                <div class="blog-text">
                    <span>18 July 2021 / Web design</span>
                    <a href="#" class="blog-title">Life with autism </a>
                    <p>"Being with someone with autism is like falling in love with the stars
                        - they may seem distant and mysterious, but they shine brighter than 
                        anything else in the universe."</p>
                    <a href="#">Read More</a>
                </div>

            </div>

             <!---box-3----->
            <div class="blog-box">

                <!--img-->
                <div class="blog-img">
                    <img src="~/css/bear.jpg" alt="Blog">
                </div>

                <!----text----->
                <div class="blog-text">
                    <span>18 July 2021 / Web design</span>
                    <a href="#" class="blog-title">Life with autism </a>
                    <p>"Being with someone with autism is like falling in love with the stars
                        - they may seem distant and mysterious, but they shine brighter than 
                        anything else in the universe."</p>
                    <a href="#">Read More</a>
                </div>

            </div>

        </div>


        <!--//Categories section------->
        <section class="index-category">
            <p>Categories</p>
            <a href="#" class="index-category-box">
                <div class="dark-overlay"></div>
                <h3>Personal Stories</h3>
            </a>
            <a href="#" class="index-category-box">
                <div class="dark-overlay"></div>
                <h3>Poems</h3>
            </a>
            <a href="#" class="index-category-box">
                <div class="dark-overlay"></div>
                <h3>Photos</h3>
            </a>
            <a href="#" class="index-category-box">
                <div class="dark-overlay"></div>
                <h3>Motivation</h3>
            </a>
            <a href="#" class="index-category-box">
                <div class="dark-overlay"></div>
                <h3>Inspiration</h3>
            </a>
            <a href="#" class="index-category-box">
                <div class="dark-overlay"></div>
                <h3>News</h3>
            </a>
            <a href="#" class="index-category-box">
                <div class="dark-overlay"></div>
                <h3>Activities</h3>
            </a>
            <a href="#" class="index-category-box">
                <div class="dark-overlay"></div>
                <h3>Education</h3>
            </a>
        </section>


        <!-------Content------------>
        <div class="contentt clearfix">

            <!-------Main Content------------>
            <div class=" main-content">
                <h1 class="recent-post-title">Recent Posts</h1>

                <div class="post">
                    <img src="~/css/child.jpg" alt="" class="post-image">
                    <div class="post-preview">
                        <h2><a href="#">"Navigating Life with Autism: A Parent's Story"</a></h2>
                        <i class="bi bi-person">Awa Melivne</i>
                        &nbsp;
                        <i class="bi bi-calendar">Mar 11, 2019</i>
                        <p class="preview-text">
                            Navigating life with a child on the spectrum: the joys and struggles of autism parenting.
                        </p>
                        <a href="https://beaminghealth.com/article/9-best-autism-blogs-for-parents-in-2023" class="btnn read-more">Read More</a>
                    </div>
                </div>
                <div class="post">
                    <img src="~/css/child.jpg" alt="" class="post-image">
                    <div class="post-preview">
                        <h2><a href="#">"Navigating Life with Autism: A Parent's Story"</a></h2>
                        <i class="bi bi-person">Awa Melivne</i>
                        &nbsp;
                        <i class="bi bi-calendar">Mar 11, 2019</i>
                        <p class="preview-text">
                            Navigating life with a child on the spectrum: the joys and struggles of autism parenting.
                        </p>
                        <a href="https://beaminghealth.com/article/9-best-autism-blogs-for-parents-in-2023" class="btnn read-more">Read More</a>
                    </div>
                </div>
                <div class="post">
                    <img src="~/css/child.jpg" alt="" class="post-image">
                    <div class="post-preview">
                        <h2><a href="#">"Navigating Life with Autism: A Parent's Story"</a></h2>
                        <i class="bi bi-person">Awa Melivne</i>
                        &nbsp;
                        <i class="bi bi-calendar">Mar 11, 2019</i>
                        <p class="preview-text">
                            Navigating life with a child on the spectrum: the joys and struggles of autism parenting.
                        </p>
                        <a href="https://beaminghealth.com/article/9-best-autism-blogs-for-parents-in-2023" class="btnn read-more">Read More</a>
                    </div>
                </div>
                <div class="post">
                    <img src="~/css/child.jpg" alt="" class="post-image">
                    <div class="post-preview">
                        <h2><a href="#">"Navigating Life with Autism: A Parent's Story"</a></h2>
                        <i class="bi bi-person">Awa Melivne</i>
                        &nbsp;
                        <i class="bi bi-calendar">Mar 11, 2019</i>
                        <p class="preview-text">
                            Navigating life with a child on the spectrum: the joys and struggles of autism parenting.
                        </p>
                        <a href="https://beaminghealth.com/article/9-best-autism-blogs-for-parents-in-2023" class="btnn read-more">Read More</a>
                    </div>
                </div>
                <div class="post">
                    <img src="~/css/child.jpg" alt="" class="post-image">
                    <div class="post-preview">
                        <h2><a href="#">"Navigating Life with Autism: A Parent's Story"</a></h2>
                        <i class="bi bi-person">Awa Melivne</i>
                        &nbsp;
                        <i class="bi bi-calendar">Mar 11, 2019</i>
                        <p class="preview-text">
                            Navigating life with a child on the spectrum: the joys and struggles of autism parenting.
                        </p>
                        <a href="https://beaminghealth.com/article/9-best-autism-blogs-for-parents-in-2023" class="btnn read-more">Read More</a>
                    </div>
                </div>

            </div>
        </div>

    </section>
</body>
</html>