@page
@model Autism.Pages.fqaModel
@{
}

<html>
<head>
    <title>Our Work</title>
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
    <script src="~/js/site2.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body class="aqf">

    <header>
        <div class="logo">MARF</div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="Index" class="active">HOME</a></li>
                <li><a href="aboutus">ABOUT US</a></li>
                <li><a href="our">TEAM</a></li>
                <li><a href="partner">PARTNERSHIP</a></li>
                <li><a href="blog">BLOG</a></li>
                <li><a href="fqa">FQA</a></li>
                <li><a href="login">LOGIN</a></li>
            </ul>
        </nav>
     </header>

    <section class="ffqqaa">
        <h2 class="title">FQAs</h2>

        <div class="faq">
            <div class="question">
                <h3>What does MARF do?</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"></path>
                </svg>

            </div>
            <div class="answer">
                <p>To provide affordable educational and training resources to Malaysians affected by autism, 
                   including families, caregivers, teachers, therapists, and service providers. This includes
                   setting up an online resource library and funding autism-specific training for therapists
                   in Malaysia.
                </p>
            </div>
        </div>

         <div class="faq">
            <div class="question">
                <h3>What is the objectives of MARF?</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"></path>
                </svg>

            </div>
            <div class="answer">
                <p>To promote and disseminate evidence-based knowledge relating to autism to Malaysians,
                   families, caregivers, teachers, therapists, service providers, other practitioners and advisers to help
                   Malaysians with autism and their families cope with and journey through the various stages of
                   growth and development so as to improve the quality of lives of all affected by autism;
                </p>
            </div>
        </div>

         <div class="faq">
            <div class="question">
                <h3>Where can I find a clinician using the evidance-based medical approach?</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"></path>
                </svg>

            </div>
            <div class="answer">
                <p>There are several ways you can find a clinician who uses evidence-based medical approaches; 
                    For suggestion, Look for medical centers or hospitals in your area that specialize in the 
                    treatment of your condition. These facilities are likely to have clinicians who use 
                    evidence-based medical approaches.
                </p>
            </div>
        </div>

         <div class="faq">
            <div class="question">
                <h3>How do I make a donation in honor or in memory of someone? How is the donation acknowledged?</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"></path>
                </svg>

            </div>
            <div class="answer">
                <p>Submit the donation online, using our secure server (please be sure to include “honor” or “memory” 
                   of in the space provided). Donors receive a receipt for tax purposes and honorees receive 
                   acknowledgement of the gift submitted on their behalf. Prospective donors may make a donation 
                   in another’s honor or memory.
                </p>
            </div>
        </div>

         <div class="faq">
            <div class="question">
                <h3>What do MARF do?</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path d="M3 3L21 21L39 3" stroke="white" stroke-width="7" stroke-linecap="round"></path>
                </svg>

            </div>
            <div class="answer">
                <p>To provide affordable educational and training resources to Malaysians affected by autism, 
                   including families, caregivers, teachers, therapists, and service providers. This includes
                   setting up an online resource library and funding autism-specific training for therapists
                   in Malaysia.
                </p>
            </div>
        </div>

    </section>
</body>
</html>
