@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<body class="home">

    <header>
        <div class="logo">MARF</div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="Index" class="active">HOME</a></li>
                <li><a href="aboutus">ABOUT US</a></li>
                <li><a href="our">TEAM</a></li>
                <li><a href="partner">PARTNERSHIP</a></li>
                <li><a href="blog">BLOG</a></li>
                <li><a href="fqa">FAQ</a></li>
                <li><a href="login">LOGIN</a></li>
            </ul>
        </nav>
     </header>

    <section>
        <div class="text-box">
            <h1>Autism is not a choice, acceptance is</h1>
            <p>Everyone has a unique perspective, embrace it.</p>
            <br>
            <a asp-page="/contact" class="visitbtn">Contact Us</a>
            <br/>

            <br>
            <a asp-page="/donate" class="visitbtn2">Donation</a>
            <br/>
        </div>
    </section>

</body>