@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <br />
        <form action="autism.jpg" method="post">
            <div class="wrapper">
                    <h1 style="margin-top: 0; margin-bottom: 0;">
                        <a href="#"></a>
                    </h1>
                        <form class="login-form">
                            <div class="username">
                                <input type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" />
<body>
    <section>
    <div class="text-box">
             <h1>Autism is not a choice, acceptance is</h1>
             <p>Everyone has a unique perspective, embrace it.</p>
             <br>
                <a href="" class="visitbtn">Visit here To Know More</a>
             <br/>
    </div>
    </section>

    

</body>
</html>
                <span class="forgot">Forgot<a href="#">password?</a></span>
</div>
            
