@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
</head>


<body>
    <section>
    <div class="text-box">
             <h1>Autism is not a choice, acceptance is</h1>
             <p>Everyone has a unique perspective, embrace it.</p>
             <br>
                <a href="" class="visitbtn">Visit here To Know More</a>
             <br/>
    </div>
    </section>

    

</body>
</html>