@page
@model Autism.Pages.loginModel
@{
    ViewData["Title"] = "Home";
}
@Model.Login


<html>
<head>
    <link rel="stylesheet" href="~/css/loginpage.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <section class="llooggin">
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>Login</h2>
                    <div class="input-box">
                        <i class="bi bi-envelope"></i>
                        <input type="email" required>
                        <label for="">Email</label>
                    </div>
                    <div class="input-box">
                        <i class="bi bi-lock"></i>
                        <input type="password" required>
                        <label for="">Password</label>
                    </div>
                    <div class="forget">
                        <label for=""><input type="checkbox">Remember Me &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#">Forget Password</a></label>
                    </div>
                    <button class="loginbtn">Login</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>