@page
@model Autism.Pages.ourModel
@{
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Our Work</title>
	<link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class="page3">

    <header>
        <div class="logo">MARF</div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="Index" class="active">HOME</a></li>
                <li><a href="aboutus">ABOUT US</a></li>
                <li><a href="our">TEAM</a></li>
                <li><a href="partner">PARTNERSHIP</a></li>
                <li><a href="blog">BLOG</a></li>
                <li><a href="fqa">FAQ</a></li>
                <li><a href="login">LOGIN</a></li>
            </ul>
        </nav>
     </header>
     
     <!-------------------------------------------------------------------team content------------->

    <section class="team">
        <div class="cnter">
            <h1>Our Team</h1>
        </div>

        <div class="team-contnt">
            <div class="box">
                <img src="~/css/p1.jpg">
                <h3>James Taylor</h3>
                <h5>Founder / CEO</h5>
                <div class="iconss">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>
        
            <div class="box">
                <img src="~/css/p2.jpg">
                <h3>James Taylor</h3>
                <h5>Founder / CEO</h5>
                <div class="iconss">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>

            <div class="box">
                <img src="~/css/p3.jpg">
                <h3>James Taylor</h3>
                <h5>Founder / CEO</h5>
                <div class="iconss">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>

            <div class="box">
                <img src="~/css/p4.jpg">
                <h3>James Taylor</h3>
                <h5>Founder / CEO</h5>
                <div class="iconss">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-solid fa-envelope"></i></a>
                </div>
            </div>
        </div>
    </section>



</body>
</html>
