@page
@model Autism.Pages.partnerModel
@{
}


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body class="partnership">

    <header>
        <div class="logo">MARF</div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="Index" class="active">HOME</a></li>
                <li><a href="aboutus">ABOUT US</a></li>
                <li><a href="our">TEAM</a></li>
                <li><a href="partner">PARTNERSHIP</a></li>
                <li><a href="blog">BLOG</a></li>
                <li><a href="fqa">FQA</a></li>
                <li><a href="login">LOGIN</a></li>
            </ul>
        </nav>
     </header>

    <section class="part">
       <div class="content-items">
           <div class="pic">
               <img id="amc" src="~/css/amc.png">
               <img id="mic" src="~/css/microsoft.png">
               <img id="google" src="~/css/google.png">
               <img id="sap" src="~/css/sap.png">
           </div>

               <div class="cont">
               <h1>We Work With the Best Partnership</h1>
               <h2>Together for a more inclusive world</h2>
               <br>
                <p>"Join us in raising awareness and advocating for the needs of individuals with autism,
                   supporting their families, and promoting research to improve the lives of those affected
                   by this condition."</p>
                <br/>
           </div>
       </div>
    </section>

</body>
</html>
